body {
  margin: 0;
  font-family: sans-serif;
  background: #0a0a0a;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
  position: sticky;
  top: 0;
}

.nav-links a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.btn {
  background: #22c55e;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.fade-in {
  opacity: 0;
  animation: fade 1s forwards;
}

.delay { animation-delay: 0.5s; }
.delay2 { animation-delay: 1s; }

@keyframes fade {
  to { opacity: 1; }
}

.page, .download {
  padding: 50px;
  text-align: center;
}

.sub {
  color: #aaa;
  margin-bottom: 20px;
}

.counter-box {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  width: fit-content;
}

.counter-box span {
  font-size: 24px;
  font-weight: bold;
}

.download-buttons {
  margin: 30px 0;
}

.btn.big {
  font-size: 18px;
  padding: 15px 30px;
}

.os-text {
  margin-top: 10px;
  color: #ccc;
}

.note {
  margin-top: 30px;
  font-size: 14px;
  color: #888;
}

.visual-footer {
  margin-top: 80px;
  height: 300px;

  background: url("footer.jpg") center/cover no-repeat;
  position: relative;
}

.visual-footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.visual-footer .overlay {
  position: relative;
  z-index: 1;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.visual-footer h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.visual-footer p {
  color: #ccc;
}

.site-footer {
  margin-top: 80px;
  padding: 40px 20px;
  background: #0b0b0b;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.footer-col h3 {
  margin-bottom: 15px;
}

.footer-col a {
  display: block;
  color: #aaa;
  text-decoration: none;
  margin: 8px 0;
  transition: 0.2s;
}

.footer-col a:hover {
  color: white;
}

.social-link {
  display: flex !important;
  align-items: center;
  gap: 10px;
}

.social-link svg {
  width: 18px;
  height: 18px;
  fill: white;
}
