body {
  margin: 0;
  font-family: sans-serif;
  background: #0a0a0a;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
  position: sticky;
  top: 0;
}

.nav-links a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.btn {
  background: #22c55e;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.fade-in {
  opacity: 0;
  animation: fade 1s forwards;
}

.delay { animation-delay: 0.5s; }
.delay2 { animation-delay: 1s; }

@keyframes fade {
  to { opacity: 1; }
}

.page, .download {
  padding: 50px;
  text-align: center;
}

.sub {
  color: #aaa;
  margin-bottom: 20px;
}

.counter-box {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  width: fit-content;
}

.counter-box span {
  font-size: 24px;
  font-weight: bold;
}

.download-buttons {
  margin: 30px 0;
}

.btn.big {
  font-size: 18px;
  padding: 15px 30px;
}

.os-text {
  margin-top: 10px;
  color: #ccc;
}

.note {
  margin-top: 30px;
  font-size: 14px;
  color: #888;
}
